<div th:fragment="footer">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        if (window.helioauth_demo === undefined) {
            window.helioauth_demo = {
                API_URL: /*[[${@environment.getProperty('passkeys-api.uri')}]]*/ "",
                APP_ID: /*[[${@environment.getProperty('passkeys-api.app-id')}]]*/ ""
            };
        }
    </script>
    <script src="/js/app.js"></script>
</div>